body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.modal {
  width: 60%;
  max-height: 100%;
  overflow-y: hidden;
}

.dropdown-content {
  width: 40%;
}

.hide-on-load {
  display: none;
}

.book-image {
  height: 234px;
  width: 234px;
  object-fit: cover;
}

.pod-image {
  height: 234px;
  object-fit: cover;
}

nav > .container {
  height: 50px;
}


/* Featured.html */
#myDIV {
  width: 100%;
  height: 130px;
  background: transparent;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  50% {background-color:black;}
}

@keyframes mymove {
  50% {background-color:black;}
}

a.brand-logo {
  font-size: 4em;
}

/* .carousel {
  margin: auto;
  padding: 10px 0;
} */

.carousel * {
  font-size: 3vw;
}

/* .card.col.s4 {
  margin: 0 10px;
} */
